<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

    <Files ".env">
    Order Allow,Deny
    Allow from localhost
    </Files>

    <Files "composer.json">
    Order Allow,Deny
    Allow from 127.0.0.1
    </Files>


    <Files ".editorconfig">
    Order Allow,Deny
    Allow from 127.0.0.1
    </Files>

    <Files ".env.example">
    Order Allow,Deny
    Allow from 127.0.0.1
    </Files>

    <Files "artisan">
    Order Allow,Deny
    Allow from 127.0.0.1
    </Files>


    <Files "composer.lock">
    Order Allow,Deny
    Allow from localhost
    </Files>

